<p1>Please make sure your spreedsheet is downloaded from <a href = 'https://dart.panasonic.aero/dart2/gcs_daily_report.php'>Connectivity Ops Overview</a>. It won't work with any other format...</p1>
<br>
<br>
<form method='POST' action="{% url 'upload' %}" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type = 'submit' value='Upload'>
</form>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
</body>
</html>